$listtagcolor: #009;
$greylinkcolor: #999;

@mixin smallgreylink {
  a {
    font-size: 10px;
    color: $greylinkcolor;
    text-decoration: none;
    margin-right: 1em; 
  }
}


body, textarea{
  font-family: "Verdana", "Helvetica", "Sans-serif";
  font-size: 14px;
  background-color: white;
  color: #111; }

header {
  height: 35px;
  border-bottom: solid black 1px;
  div#banner {
    float: left;
    width: 500px;
    h1 {
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
      border: 0px;
      padding: 0px;
    }
  }
  div#login-wrapper {
    font-size: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    div, form, label, input, p, button {
      display: inline;
    }
  }
}

div#main {
  width: 1050px;
}
      
div#list {
  float: left;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
  
div#tags {
  width: 300px;
  float: left;
}

a.taginlist {
  margin-right: 1em;
  text-decoration: none;
  font-size: 12px; 
}
  
div.standard-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
  line-height: 1.5;

  div.list-name {
    font-weight: bold;
    margin-right: 2em;
  }

  div.sh-lifecycle {
    @include smallgreylink;
    float: left;
  }

  div.std-wrap {
    margin-left: 15px;
    float: left;

    div.std-lifecycle-item {
      clear: left;
      div.list-current {
        clear: none;
      }
      div.view-label {
        font-style: italic;
    	float: left;
        width: 100px;
      }
      div.li-content {
        float: left;
      }
    }
  }


}

div.list-tags {
  clear: both;
  color: $listtagcolor;
}

div.list-lifecyle {
  display: none;
}

div.list-item-links {
  font-size: 10px;
  @include smallgreylink;
}

div#form {
  width: 80%;
  border: solid #333 1px;

  #name-wrap, #current-wrap, #deprecated-wrap { 
      float: left; 
      width: 48%; 
      margin-left: 1%;
  }


  #emerging-wrap, #obsolete-wrap, #owner-updated-wrap { 
      margin-left: 50%;
      width: 48%;
  }

 #owner-wrap {
    float: left;
    width: 60%;
  }
  
  #updated-wrap {
    margin-left: 65%;
    padding-top: .2em;
    height: 3em;

    span#updated {
      font-size: 12px;
    }
  }

  #tags-wrap, #notes-wrap {
      margin-left: 1%;
      width: 98%;
  }

  input[type=text], textarea {
    margin-left: 0.5em;
    width: 98%; 
    font-size: 13px;
  }

  textarea {
    resize: none;
  }

  label {
    margin-left: 0.5em;
    display: block; 
  }

  #button, input[type=submit] {
    display: inline;
    margin-right: 1em;
  }

  div#cancel-wrap {
      display: inline;
      margin-left: 0.5em;
      a {
      font-size: 10px;
      font-weight: bold;
      color: #999;
      text-decoration: none;
      }
    }
    
}